.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: darkslategray;
  color: white;
  font-size: x-large;
}

.main {
  min-height: 100vh;

  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  background-color: darkslategray;
  color: white;
}
