.field {
  font-size: 100px;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;

  width: 128px;
  height: 128px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background: transparent;

  border: 2px solid aquamarine;

  animation-name: renderGutter;
  animation-duration: 2s;
}

.x {
  color: greenyellow;
}

.o {
  color: bisque;
}

.click {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-size: xx-small;
  }
  to {
    opacity: 1;
    font-size: 100px;
  }
}

@keyframes renderGutter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
